{{ define "main" }}
<div class="container">
    <div class="row">
        {{ $projects := getJSON "https://correlaid.github.io/projects/projects.json" }}
        {{ $id := .Params.project_id_path }}
        <div class="col-12 my-5">
            {{ range where $projects "project_id_path" "==" $id }}
            {{ if eq .published true }}
            <h1>{{ .title }}</h1>
            <div class="col-md-6 float-right">
                <div class="col-md-12 my-2 pb-4 pr-5 ca-gradient-container">
                    <h2>{{ .organization.name }}</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p>{{ (index .organization.about $.Site.Language.Lang | markdownify )}}</p>
                    <div class="row">
                        <p class="lead">
                            <i class="fas fa-globe"></i>
                            <a href="{{ .organization.website }}">{{ .organization.website }}</a>
                        </p>
                    </div>
                    <div class="ca-gradient-border"></div>
                </div>
            </div>      
            
            <!-- For the FAQ, we include the content. 
                For the projects all content is loaded dynamically-->
                {{ $content := (index .description $.Site.Language.Lang )}}
                <h1 class="ca-blue-text">{{ i18n "project-challenge" }}</h1>
                <p>{{ $content.problem | markdownify }}</p>
                <h1 class="ca-blue-text">{{ i18n "project-data" }}</h1>
                <p>{{ $content.data | markdownify }}</p>
                <h1 class="ca-blue-text">{{ i18n "project-approach" }}</h1>
                <p>{{ $content.approach | markdownify }}</p>
                <h1 class="ca-blue-text">{{ i18n "project-impact" }}</h1>
                <p>{{ $content.impact | markdownify }}</p>
                {{ end }}
                {{ partial "project_team.html" . }}
            {{ end }}
            
        </div>

    </div>
</div>
{{ end }}