{{ define "main" }}
<!-- HERO SECTION -->
<div class="hero small correlaid-x">
    <div class="row justify-content-center h-100">
        <div class="col-12 align-self-center text-center">
            <img class="img-fluid mb-5 correlaid-logo" src="/images/correlaid/correlaid-x-brand.png" alt="CorrelAid Logo" />
            <h1 class="correlaid-x">{{ trim .Title " " }}</h1>
        </div>
    </div>
</div>
<!-- /END HERO SECTION -->
<!-- CORRELAID X NAV -->
<nav class="navbar navbar-expand-md navbar-dark ca-dark-blue d-none d-md-block">
    <div class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto"></div>
        <div class="navbar-nav mr-auto">
            <a
                    href="https://correlaid.us12.list-manage.com/subscribe?u=b294bf2834adf5d89bdd2dd5a&id=915f3f3eff"
                    target="_blank"
                    class="nav-item nav-link active"
            >
                <b>{{ .Params.newsletter }}</b>
            </a>
        </div>
    </div>
</nav>
<!-- /END CORRELAID X NAV -->

<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}
