/* ========== ESSENTIALS ========== */

body {
    overflow-x: hidden;
}

main {
    margin-top: 56px;
}

*:focus {outline:none !important}

/* ========== COLORS ========== */

.ca-original-gradient {
    background: linear-gradient(90deg,rgba(56, 99, 162, 1), rgba(146, 222, 63, 1));
    color: #FFFFFF;
}

.ca-x-gradient {
    background: linear-gradient(90deg,rgba(56, 99, 162, 1), rgba(240, 68, 81, 1));
    color: #FFFFFF;
}

.ca-blue {
    background-color: #3863a2 !important;
    color: #FFFFFF;
}

.ca-blue-text {
    color: #3863a2 !important;
}

.ca-blue-text a {
    color: #3863a2 !important;
}

.ca-dark-blue {
    background-color: #233140 !important;
    color: #FFFFFF;
}

.ca-dark-blue-text {
    color: #233140 !important;
}

.ca-dark-blue-text a {
    color: #233140 !important;
}

.ca-red {
    background-color: #f04451;
    color: #FFFFFF;
}

.ca-red-text {
    color: #f04451 !important;
}

.ca-green {
    background-color: #92de3f !important;
    color: #FFFFFF;
}

.ca-green-text {
    color: #92de3f !important;
}

.ca-green-text a {
    color: #92de3f !important;
}

.ca-light-gray {
    background-color: #c4c4c4 !important;
}

/* ========== FONTS ========== */

/* Roboto Latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto/roboto-light-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Roboto Latin Extension */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto/roboto-light-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Raleway Latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(fonts/raleway/raleway-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Raleway Latin Extension */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(fonts/raleway/raleway-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Caveat Latin */
@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: local('Caveat Regular'), local('Caveat-Regular'), url(./fonts/caveat/caveat-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Caveat Latin */
@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: local('Caveat Regular'), local('Caveat-Regular'), url(./fonts/caveat/caveat-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    color: #444444;
}

a {
    color: #54a1b1;
}


a.start i.fas {
    color: #FFFFFF;
}

a i.fas {
    color: #6c757d;
}


a i.fas:hover {
    color: #FFFFFF;
    text-decoration: none;
}

a i.fab {
    color: #6c757d;
}


a i.fab:hover {
    color: #FFFFFF;
    text-decoration: none;
}

a.btn-hero:hover  {
    color: #FFFFFF;
    text-decoration: none;
}


a:hover {
    color: #3863a2;
    text-decoration: underline;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    margin-top: 1em;
}

h2 a.author-links i.fab,
h2 a.author-links i.far,
h2 a.author-links i.fas {
    color: #6c757d;
    text-decoration: none;
}

h2 a.author-links i.fab:hover,
h2 a.author-links i.far:hover,
h2 a.author-links i.fas:hover {
    color: #6c757d;
    text-decoration: none;
}

h2 a.author-links:hover {
    color: #6c757d;
    text-decoration: none;
}

h1 a {
    color: #444444;
}

h1 a:hover {
    color: #444444;
}


h1.correlaid {
    letter-spacing: 0.3em;
    color: #FFFFFF;
}

h1.correlaid-sub {
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.uppercase {
    text-transform: uppercase;
}

h1.correlaid-x {
    display: inline;
    padding: 3px 5px;
    background-color: #f04451;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 500;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #FFFFFF;
}

p {
    font-family: "Raleway", sans-serif;
    color: #444444;
    font-size: 1.25rem;
}

main .navbar ul li {
    font-size: 1rem;
}

main ul,
main ol {
    list-style-position: outside;
    padding-left: 1.3rem;
}

main ul li,
main ol li {
    font-size: 1.25rem;
}

blockquote {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 !important;
}

i.caveat {
    font-family: "Caveat", cursive;
    font-style: normal;
    font-size: 1.25rem;
}

/* ========== IMAGES ========== */

.ca-img-container {
    display: block;
    position: relative;
    width: 90%;
    margin: 3rem 5% 3rem 5%;
}

.ca-img-container.smaller {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.ca-img-container > img {
    border: 6px solid #ffffff;
}

.ca-img-container > img.dark {
    border: 6px solid #444444;
}

.ca-img-container > .ca-img-border::after {
    bottom: 0;
}
.ca-img-container > .ca-img-border::after,
.ca-img-container > .ca-img-border::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    background-image: linear-gradient(90deg,#92de3f 0,#3863a2);
}

.ca-img-container.link:hover > .ca-img-border::after,
.ca-img-container.link:hover > .ca-img-border::before {
    background-image: linear-gradient(90deg,#3863a2 0,#92de3f);
}

.ca-img-container > .ca-img-border::before {
    top: 0;
}

.ca-img-container > .ca-img-border {
    top: 0;
    bottom: 0;
    left: 40px;
    right: 0;
    width: auto;
    height: auto;
    transform: translateX(-20px) translateY(-20px);
}

.ca-img-container > .ca-img-border {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: .7;
    border-left: 10px solid #92de3f;
    border-right: 10px solid #3863a2;
}

.ca-img-container.link:hover > .ca-img-border {
    border-left: 10px solid #3863a2;
    border-right: 10px solid #92de3f;
}

/* =============== DIV GRADIENT BORDER =============== */
.ca-gradient-container {
    display: block;
    position: relative;
    width: 90%;
    margin: 3rem 5% 3rem 5%;
}

.ca-gradient-container.smaller {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.ca-gradient-container > .ca-gradient-border::after {
    bottom: 0;
}
.ca-gradient-container > .ca-gradient-border::after,
.ca-gradient-container > .ca-gradient-border::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    background-image: linear-gradient(90deg,#92de3f 0,#3863a2);
}

.ca-gradient-container > .ca-gradient-border::before {
    top: 0;
    z-index: -1000;
}

.ca-gradient-container > .ca-gradient-border {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    transform: translateX(-20px) translateY(-20px);
    z-index: -1000;
}

.ca-gradient-container > .ca-gradient-border {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: .7;
    border-left: 10px solid #92de3f;
    border-right: 10px solid #3863a2;
}




/* =============== BOOTSTRAP BUTTON =============== */

.btn {
    border-radius: 0px;
}

.btn-donate {
    color: rgba(255,255,255,.75);
    border-color: rgba(255,255,255,.75);
    background-color: transparent;
}

.btn-donate:hover {
    color: #92de3f;
    border-color: #92de3f;
    background-color: transparent;
}


.btn-ca-white {
    position: relative;
    display: inline;
    padding: 20px 30px;
    margin: 20px 30px;
    color: #FFFFFF;
    border: 6px solid white;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    min-width: 150px;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

.btn-ca-green {
    color: #FFFFFF;
    background-color: #92de3f;
    border-color: #92de3f;
}

.btn-ca-blue {
    color: #FFFFFF;
    background-color: #3863a2;
    border-color: #3863a2;
}

.btn-ca-blue:hover {
    color: #FFFFFF;
}

.btn-ca-dark-blue {
    color: #FFFFFF;
    background-color: #233140;
    border-color: #233140;
}

.btn-ca-dark-blue:hover {
    color: #FFFFFF;
}


/* =============== BUTTON =============== */

.ca-btn {
    position: relative;
    display: inline;
    padding: 20px 30px;
    margin: 20px 30px;
    border: 6px solid white;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    min-width: 150px;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

.ca-btn.dark {
    border-color: #444444;
    color: #233140;
}

.ca-btn:hover {
    background-image: linear-gradient(90deg,#3863a2 0,#92de3f);
    border-color: #fff;
    transition: background-color 200ms ease, color 200ms ease;
    text-decoration: none;
    color: #ffffff;
}

.ca-btn.dark:hover {
    border-color: #444444;
    color: #ffffff;
}

.ca-btn.block {
    display: block;
    width: 300px;
    margin: 15px auto;
}

.ca-btn.dark-blue {
    background-color: #233140;
    border-color: #444444;
}

.ca-btn.fixed {
    display: inline-block;
    width: 300px;
}

@media screen and (max-width: 600px) {
    .ca-btn {
        min-width: 75px;
        max-width: 200px;
        margin: 5px 0;
        border: 6px solid white;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-weight: bold;
    }
}

/* ========== NAVIGATION ========== */

.fixed-top.second {
    top: 56px;
    z-index: 990;
    transition: all .3s ease .3s;
}

.fixed-top.second.up:hover {
    top: 56px !important;
    transition: all .3s ease .3s;
}

.navbar-toggler {
    border: none;
}

.dropdown-menu {
    color: #ffffff;
    background-color: #233140;
    border: none;
    border-radius: 0;
}

.dropdown-item {
    color: #ffffff;
    background-color: transparent;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #233140;
    text-decoration: none;
    background-color: #ffffff;
}

.dropdown-menu.lang {
    min-width: 10px;
}

/* ========== HERO SECTION ========== */

.correlaid-logo {
    width: 80%;
    max-width: 420px;
    display: block;
    margin: 0 auto;
}

.hero {
    height: calc(100vh - 56px);
    width: 100vw;
    background: linear-gradient(45deg,rgba(56, 99, 162, .82), rgba(146, 222, 63, .82)),url(../images/hero-1.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.hero.correlaid-x {
    background: linear-gradient(45deg,rgba(56, 99, 162, .82), rgba(240, 68, 81, .82)),url(../images/hero-correlaid-x.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.hero.small {
    height: 60vh;
    min-height: 300px;
}

.hero a.start {
    color: #FFFFFF;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.hero a.start:hover {
    top: 15px;
    padding-top: -15px;
}

.hero a.start:hover,
.hero a.start:visited {
    color: #FFFFFF;
}

/* ========== ALERTS ========== */

.alert {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

/* ========== DONATE BOXES ========== */

.donation-section.hidden {
    display: none;
}

.donate-box-outer {
    width: 100%;
}

.donate-box-inner {
    display: block;
    height: 200px;
    width: 100%;
    background-color: #3c3c3b;
    padding: 15px;
    text-align: start;
    align-content: end;
    cursor: pointer;
}

.donate-box-inner h3 {
    color: white;
}

.donate-box-inner p {
    color: #3c3c3b;
}

.donate-box-inner.active.projects {
    background: linear-gradient(45deg,rgba(56, 99, 162, .82), rgba(146, 222, 63, .82)), url(../images/projects.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}


.donate-box-inner.active.community {
    background: linear-gradient(45deg,rgba(56, 99, 162, .82), rgba(146, 222, 63, .82)), url(../images/community.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.donate-box-inner.active.infrastructure {
    background: linear-gradient(45deg,rgba(56, 99, 162, .82), rgba(146, 222, 63, .72)), url(../images/infrastructure.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.donate-box-inner.active p {
    color: #FFFFFF;
}

/* ========== CORRELAID BOXES ========== */

.correlaid-box-outer {
    width: 100%;
}

.correlaid-box-inner {
    display: block;
    height: 150px;
    width: 100%;
    background-color: #3c3c3b;
    padding: 15px;
    text-align: start;
    align-content: end;
}

.correlaid-box-inner h3 {
    color: white;
}

.correlaid-box-inner:hover {
    background: linear-gradient(45deg,rgba(56, 99, 162, 1), rgba(146, 222, 63, 1));
    text-decoration: none;
}

.correlaid-box-inner:hover h3 {
    color: white;
    text-decoration: none;
}

/* ========== LOCAL GROUPS BOXES ========== */

.local-group-box-outer {
    width: 100%;
}

.local-group-box-inner {
    display: block;
    height: 150px;
    width: 100%;
    background-color: #3c3c3b;
    padding: 15px;
    text-align: start;
    align-content: end;
}

.local-group-box-inner h3 {
    color: white;
}

.local-group-box-inner:hover {
    background: linear-gradient(45deg,rgba(56, 99, 162, 1), rgba(240, 68, 81, 1));
    text-decoration: none;
}

.local-group-box-inner:hover h3 {
    color: white;
    text-decoration: none;
}

/* ========== TESTIMONIAL ========== */
.testimonial img {
    margin: 0 auto 12px auto;
    border: 6px solid #ffffff;
    display: block;
    width: 75%;
    max-width: 200px;
}

/* ========== FORMS ========== */

.form-control {
    border-radius: 0;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control:focus {
    color: #5a5a5a;
    background-color: #ffffff;
    border-color: rgba(146, 222, 63, .8);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(146, 222, 63, .8);
}

/* ========== MODAL ========== */

.modal-content {
    border-radius: 0px;
}

.modal-body p {
    font-size: 1rem;
}

.modal-backdrop {
    background: linear-gradient(45deg,rgba(56, 99, 162, 1), rgba(146, 222, 63, 1));
}

.modal-backdrop.x {
    background: linear-gradient(45deg,rgba(56, 99, 162, 1), rgba(240, 68, 81, 1));
}

.modal-backdrop.show {
    opacity: 1 !important;
}


/* ========== CODE HIGHLIGHTING ========== */

.highlight pre {
    padding: 10px;
    border: 1px solid #e2e2e2;
}

/* ========== PRESS ABOUT US ========== */

.newspaper-image {
    height: 30px;
}

@media screen and (max-width: 600px) {
    .newspaper-image {
        height: 30px;
    }
}

/* ========== TABLES ========== */

table {
    width: 100%;
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
    margin-top: 16px;
    margin-bottom: 16px;
}

th {
    padding: 10px;
    font-size: 1.25rem;
    border-bottom: 1px solid #444444;
}

td {
    padding: 10px;
    font-size: 1.25rem;
}

/* ========== MESSAGE INFO ========== */
#message-info {
    display: none;
}

/* ========== EVENTS ========== */

.event-header .date {
    color: #444444;
    text-align: center;
    display: block;
}
.event-header .date .day {
    font-weight: 700;
    line-height: 0.45em;
    font-size: 3em;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.event-header .date .rest {
    display: block;
    font-size: 0.75em;
}
.event-header h1.title {
    margin: -10px 0 0 0;
}

.event-header {
    margin-bottom: 30px;
    margin-top: 30px;
}


.events-correlaid-box span {
    display: inline;
    padding: 9px 9px;
    background-color: #233140;
    color: #FFFFFF;
    letter-spacing: 8px;
    font-weight: 500;
}

.events-correlaid-x-box span {
    display: inline;
    padding: 9px 9px;
    background-color: #f04451;
    color: #FFFFFF;
    letter-spacing: 8px;
    font-weight: 500;
}

/* ========== SINGLE PROJECT VIEW ========== */
a.team-member-links i.fab:hover,
a.team-member-links i.far:hover,
a.team-member-links i.fas:hover {
    color: #6c757d;
    text-decoration: none;
}

/* ========== MODAL PGP ========== */
.modal-body {
    overflow-wrap: break-word;
}
