{{ define "main" }}

<!-- TITLE -->
<div class="container mt-5">
    <div class="row justify-content-center pt-5">
        <div class="col-12 col-md-10 col-lg-8">
            <h1>{{ .Title | markdownify }}</h1>
            <p class="lead">{{ .Params.summary | markdownify }}</p>
            <p>{{ .Date.Format "2006-01-02" }} | {{ .Params.author.name }}</p>
        </div>
    </div>
</div>
<!-- /END TITLE -->

<!-- TITLE IMAGE -->
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="ca-img-container">
                <img class="img-fluid dark" src="/images/blog/{{ .Params.image }}" alt="{{ .Title }}" />
                <div class="ca-img-border"></div>
            </div>
        </div>
    </div>
</div>
<!-- /END TITLE IMAGE -->

<div class="container mt-5">
    <!-- TABLE OF CONTENTS -->
    {{ if (.Params.toc) }}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h2>Table of Contents</h2>
            {{.TableOfContents}}
        </div>
    </div>
    {{ end }}
    <!-- CONTENT -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <p class="lead">{{ .Content }}</p>
        </div>
    </div>
    <!-- /END CONTENT -->
    <!-- AUTHOR -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-6 col-md-5 col-lg-4">
                    <div class="ca-img-container">
                        <img class="img-fluid dark" src="/images/people/{{ .Params.author.image }}" alt="{{ .Params.author.name }}" />
                        <div class="ca-img-border"></div>
                    </div>
                </div>
                <div class="col-7 col-md-7 col-lg-8" style="margin-top: 24px;">
                    <h3>{{ .Params.author.name }}</h3>
                    <h2 class="my-1">
                        {{ if .Params.author.website }}
                        <a class="author-links" href="{{ .Params.author.website }}" target="_blank">
                            <i class="far fa-share-square mr-1"></i>
                        </a>
                        {{ end }}
                        {{ if .Params.author.email }}
                        <a class="author-links" href="mailto:{{ .Params.author.email }}">
                            <i class="fas fa-envelope-square mr-1"></i>
                        </a>
                        {{ end }}
                        {{ if .Params.author.twitter }}
                        <a class="author-links" href="{{ .Params.author.twitter }}" target="_blank">
                            <i class="fab fa-twitter-square mr-1"></i>
                        </a>
                        {{ end }}
                        {{ if .Params.author.facebook }}
                        <a class="author-links" href="{{ .Params.author.facebook }}" target="_blank">
                            <i class="fab fa-facebook-square mr-1"></i>
                        </a>
                        {{ end }}
                        {{ if .Params.author.github }}
                        <a class="author-links" href="{{ .Params.author.github }}" target="_blank">
                            <i class="fab fa-github-square"></i>
                        </a>
                        {{ end }}
                    </h2>
                    <p>{{ .Params.author.description | markdownify }}</p>
                </div>
        </div>
    </div>
    <!-- /END AUTHOR -->
</div>

{{ end }}