{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-2">
            <h2>Cookie Declaration</h2>
            <script id="CookieDeclaration" src="https://consent.cookiebot.com/64e18dd9-5603-406a-b481-0de61f4d7434/cd.js" type="text/javascript" async></script>
        </div>
        <div class="container ca-dark-blue">
            <div class="col-12 text-center">
                <a href="javascript: Cookiebot.renew()" class="ca-btn block">Renew or change your cookie consent</a>
            </div>
        </div>
    </div>
</div>
{{ end }}