{{ define "main" }}
<div class="container">
    <div class="row my-5">
        <div class="col-12 mt-5 mb-2">
            <h2>Cookie Declaration</h2>
            <script id="CookieDeclaration" src="https://consent.cookiebot.com/64e18dd9-5603-406a-b481-0de61f4d7434/cd.js" type="text/javascript" async></script>
            <button type="button" href="javascript: Cookiebot.renew()" class="btn ca-blue" >
                Renew or change your cookie consent
            </button>
        </div>

    </div>
</div>
{{ end }}