{{ define "main" }}

<!-- HERO SECTION -->
<div class="hero">
    <div class="row justify-content-center h-100">
        <div class="col-6 col-md-5 col-lg-4 col-xl-3 align-self-center text-center">
            <img class="img-fluid mb-5" src="/images/correlaid/logo-white.png" alt="CorrelAid Logo" />
            <a class="start" href="#data-science">
                <i class="fas fa-3x fa-arrow-alt-circle-down"></i>
            </a>
        </div>
    </div>
</div>
<!-- /END HERO SECTION -->

{{.Content}}


<!-- CALL FOR ACTION -->
<div class="row my-5 py-5 ca-dark-blue justify-content-center">
    <div class="col-12 col-md-5 col-lg-2">
        <a href="" class="ca-btn block">Projekt einreichen</a>
    </div>
    <div class="col-12 col-md-5 col-lg-2">
        <a href="" class="ca-btn block">Mitmachen</a>
    </div>
</div>
<!-- /END CALL FOR ACTION -->

<!-- NEWS -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Neuigkeiten</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="ca-img-container">
                <img class="img-fluid dark" src="/images/data-science-for-society.jpg" alt="Data Science for Society" />
                <div class="ca-img-border"></div>
            </div>
            <p style="margin-bottom: 0">05. August 2018</p>
            <h3 class="ca-green-text">Hackathon München</h3>
            <p>Bliblablub</p>
        </div>
        <div class="col-12 col-md-4">
            <div class="ca-img-container">
                <img class="img-fluid dark" src="/images/data-science-for-society.jpg" alt="Data Science for Society" />
                <div class="ca-img-border"></div>
            </div>
            <p style="margin-bottom: 0">05. August 2018</p>
            <h3 class="ca-green-text">Hackathon München</h3>
            <p>Bliblablub</p>
        </div>
        <div class="col-12 col-md-4">
            <div class="ca-img-container">
                <img class="img-fluid dark" src="/images/data-science-for-society.jpg" alt="Data Science for Society" />
                <div class="ca-img-border"></div>
            </div>
            <p style="margin-bottom: 0">05. August 2018</p>
            <h3 class="ca-green-text">Hackathon München</h3>
            <p>Bliblablub</p>
        </div>
    </div>
</div>
<!-- /END NEWS -->

{{ end }}