{{ define "main" }}
<!-- HERO SECTION -->
<div class="hero">
    <div class="row justify-content-center h-100">
        <div class="col-12 align-self-center text-center">
            <img class="img-fluid mb-5 correlaid-logo" src="/images/correlaid/correlaid-brand.png" alt="CorrelAid Logo" />
            <a class="start" href="#data-science">
                <i class="fas fa-3x fa-arrow-alt-circle-down"></i>
            </a>
        </div>
    </div>
</div>
<!-- /END HERO SECTION -->


<!-- CALL FOR ACTION -->
<div class="ca-dark-blue">
    <div class="container">
        <div class="row my-5 py-5 justify-content-center">
            <div class="col-12 text-center pt-5 pb-3">
                <h3 class="text-white">{{ i18n "claim-digitalexpert" }}</h3>
            </div>
            <div class="col-12 text-center pb-5">
                <a href="https://forms.gle/STJwySX9YLkFjA5N9" class="ca-btn block">{{ i18n "claim-digitalexpert-btn" }}</a>
            </div>
        </div>
    </div>
</div>
<!-- /END CALL FOR ACTION -->

{{.Content}}

<!-- CALL FOR ACTION -->
<div class="ca-dark-blue">
    <div class="container">
        <div class="row my-5 py-5 justify-content-center">
            <div class="col-12 text-center pt-5 pb-3">
                <h3 class="text-white">{{ i18n "claim-1" }}</h3>
            </div>
            <div class="col-12 text-center pb-5">
                <a href="{{ "contribute" | absLangURL }}" class="ca-btn block">{{ i18n "claim-1-btn" }}</a>
            </div>
        </div>
    </div>
</div>
<!-- /END CALL FOR ACTION -->

<!-- BLOG -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><a href="/blog">Blog</a></h1>
        </div>
    </div>
    <div class="row">
        {{ range first 3 (where .Site.Pages "Section" "blog").ByPublishDate.Reverse }}
        <div class="col-12 col-md-4">
            <a href="{{ .URL }}" class="ca-img-container link">
                <img class="img-fluid dark" src="/images/blog/thumbs-x800/{{ .Params.image }}" alt="{{ .Title }}" />
                <div class="ca-img-border"></div>
            </a>
            <p style="margin-bottom: 0">{{ .Date.Format "2006-01-02" }}</p>
            <h3 class="ca-dark-blue-text"><a href="{{ .URL }}">{{ .Title | markdownify }}</a></h3>
            <p>{{ .Params.summary | markdownify }}</p>
        </div>
        {{ end }}
    </div>
</div>
<!-- /END BLOG -->

<!-- CALL FOR ACTION -->
<div class="ca-dark-blue">
    <div class="container">
        <div class="row mt-5 py-5 justify-content-center">
            <div class="col-12 text-center pt-5 pb-3">
                <h3 class="text-white">{{ i18n "claim-2" }}</h3>
            </div>
            <div class="col-12 text-center pb-5">
                <a href="#"
                   data-toggle="modal"
                   data-target="#contact-modal"
                   data-email="contact@correlaid.org"
                   data-to="Contact CorrelAid"
                   class="ca-btn block"
                >
                    {{ i18n "claim-2-btn" }}
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /END CALL FOR ACTION -->

{{ end }}
