{{ define "main" }}
<!-- HERO SECTION -->
<div class="hero">
    <div class="row justify-content-center h-100">
        <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 align-self-center text-center">
            <img class="img-fluid mb-5" src="/images/correlaid/logo-white.png" alt="CorrelAid Logo" />
            <a class="start" href="#data-science">
                <i class="fas fa-3x fa-arrow-alt-circle-down"></i>
            </a>
        </div>
    </div>
</div>
<!-- /END HERO SECTION -->

{{.Content}}

<!-- CALL FOR ACTION -->
<div class="row my-5 py-5 ca-dark-blue justify-content-center">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pt-5 pb-3">
                    <h3 class="text-white">Du möchtest bei CorrelAid aktiv werden? Du möchtest mit uns gemeinsam die Welt verändern? Du glaubst auch daran, dass Datenanalyse allen zur Verfügung stehen sollte?</h3>
                </div>
                <div class="col-12 text-center pb-5">
                    <a href="" class="ca-btn block">Los geht's!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /END CALL FOR ACTION -->


<!-- NEWS -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><a href="/news">{{ i18n "news"}}</a></h1>
        </div>
    </div>
    <div class="row">
        {{ range first 3 (where .Pages "Section" "news").ByPublishDate.Reverse }}
        <div class="col-12 col-md-4">
            <a href="{{ .URL }}" class="ca-img-container link">
                <img class="img-fluid dark" src="/images/news/{{ .Params.image }}" alt="{{ .Title }}" />
                <div class="ca-img-border"></div>
            </a>
            <p style="margin-bottom: 0">{{ .Date.Format "2006-01-02" }}</p>
            <h3 class="ca-dark-blue-text"><a href="{{ .URL }}">{{ .Title }}</a></h3>
        </div>
        {{ end }}
    </div>
</div>
<!-- /END NEWS -->

<!-- CALL FOR ACTION -->
<div class="row my-5 py-5 ca-dark-blue justify-content-center">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pt-5 pb-3">
                    <h3 class="text-white">Du arbeitest für eine NGO und glaubst, dass ein gemeinsames Projekt euch hilft? Du weißt nicht genau, ob wir euch helfen können? Du hast eine konkrete Idee?</h3>
                </div>
                <div class="col-12 text-center pb-5">
                    <a href="" class="ca-btn block">Kontaktiere uns!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /END CALL FOR ACTION -->

<!-- BLOG -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><a href="/blog">Blog</a></h1>
        </div>
    </div>
    <div class="row">
        {{ range first 3 (where .Pages "Section" "blog").ByPublishDate.Reverse }}
        <div class="col-12 col-md-4">
            <a href="{{ .URL }}" class="ca-img-container link">
                <img class="img-fluid dark" src="/images/blog/thumbs-x800/{{ .Params.image }}" alt="{{ .Title }}" />
                <div class="ca-img-border"></div>
            </a>
            <p style="margin-bottom: 0">{{ .Date.Format "2006-01-02" }}</p>
            <h3 class="ca-dark-blue-text"><a href="{{ .URL }}">{{ .Title }}</a></h3>
            <p>{{ .Params.summary }}</p>
        </div>
        {{ end }}
    </div>
</div>
<!-- /END BLOG -->

{{ end }}