{{ define "main" }}

<!-- NEWS -->
<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h1>{{ i18n "news"}}</h1>
        </div>
    </div>
    <div class="row">
        {{ range first 3 (where .Pages "Section" "news").ByPublishDate.Reverse }}
        <div class="col-12 col-md-4">
            <a href="{{ .URL }}" class="ca-img-container link">
                <img class="img-fluid dark" src="/images/news/{{ .Params.image }}" alt="{{ .Title }}" />
                <div class="ca-img-border"></div>
            </a>
            <p style="margin-bottom: 0">{{ .Date.Format "2006-01-02" }}</p>
            <h3 class="ca-dark-blue-text"><a href="{{ .URL }}">{{ .Title }}</a></h3>
        </div>
        {{ end }}
    </div>
</div>
<!-- /END NEWS -->

{{ end }}