{{ define "main"}}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-6 order-1 order-lg-0 mt-1 mb-5 my-lg-5  align-self-center">
            <h1 class="display-3">Ooops!</h1>
            <h3>{{ i18n "error-claim-1" }}</h3>
            <br />
            <h3>{{ i18n "error-claim-2" }}</h3>
            <h3>
                <a href="{{ "/" | relURL }}">Home</a><br />
                {{ range .Site.Menus.about }}
                <a href="{{ .URL | absLangURL }}">{{ .Name }}</a><br />
                {{ end }}
            </h3>
        </div>
        <div class="col-12 col-lg-6 order-0 order-lg-1 mt-5 mb-1 my-lg-5  align-self-center">
            <img class="img-fluid" src="{{ "images/404.png" | absURL }}">
        </div>
    </div>
</div>
{{ end }}