{{ define "main" }}
{{ $lang := .Site.Language.Lang }}
<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-2">
            {{ .Content }}
        </div>
    </div>
        <div>
            <iframe width="100%" height="600" name="iframe" src="/html/map_{{ $lang }}.html"></iframe>
        </div>
    <div class="row">
        <div class="col-12 mb-5">
            <h2>Lokalgruppen</h2>
            <div class="row">
                {{ range .Pages.ByTitle }}
                <div class="col-12 col-md-6">
                    <div class="local-group-box-outer py-2">
                    <a class="local-group-box-inner" href="{{ .URL | absLangURL }}">
                        <h3>{{ .Title }}</h3>
                    </a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}