<div class="container event-header">
  <div class="row align-items-center">
    <div class="col-2 date mr-4">
      <div class="rest uppercase">{{ dateFormat "Jan" .Params.start }}</div>
      <div class="day">{{ dateFormat "02" .Params.start }}</div>
      <div class="rest">{{ dateFormat "2006" .Params.start }}</div>
    </div>
    <div class="col-8 align-self-center">
      <h3>
        <a href="{{ .RelPermalink }}">{{.Title}}</a>
      </h3>
      <p>
        {{range .Params.languages }}
          #{{ . }}
        {{ end }}
        {{ range .Params.tags }} 
          #{{ . }}
        {{ end }}

      </p>

    </div>
  </div>
</div>
