<div class="container" id="data-science">
    <div class="row my-2">
        <div class="col-12 col-md-4col-lg-5 align-self-center">
            {{  if isset .Params "link"  }}
            <a href="{{ .Params.link }}" class="ca-img-container link">
                <img class="img-fluid dark" src="/images/{{ .Params.img }}" alt="{{ .Title }}" />
                <div class="ca-img-border"></div>
            </a>
            {{ else  }}
            <a href="{{ .Permalink }}" class="ca-img-container link">
                <img class="img-fluid dark" src="/images/{{ .Params.img }}" alt="{{ .Title }}" />
                <div class="ca-img-border"></div>
            </a>
            {{ end }}
        </div>
        <div class="col-12 align-self-center">
            {{  if isset .Params "link"  }}
            <h1 class="my-0"><a href="{{ .Params.link }}">{{.Title}}</a></h1>
            {{  else  }}
            <h1 class="my-0"><a href="{{ .Permalink }}">{{.Title}}</a></h1>
            {{  end  }}
            <p class="lead">
                {{ .Params.description }}
            </p>
        </div>
    </div>
</div>
