<!--
<div class="row mt-5 pt-5 ca-dark-blue justify-content-center">
    <div class="col-12">
        <a href="" class="ca-btn block">{{ i18n "donate"}}</a>
    </div>
</div>
-->
<footer class="pt-2 pt-2 ca-dark-blue text-white" style="padding-top: 5rem;">
    <div class="container">
        <div class="row mt-2 mb-4">
            <div class="col-12 text-center">
                <p class="text-muted" style="font-size: 1rem;">
                    <i class="fas fa-2x fa-language"></i>
                    <br />
                    <a class="text-muted" href="#">{{ .Site.Language.LanguageName }}</a>
                    {{ range .Translations }}
                    <a class="text-muted" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-left">
                <h5>CorrelAid. ©2015-2018</h5>
                <ul class="list-unstyled text-small">
                    {{ range .Site.Menus.essentials }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
                <div class="row d-none d-md-flex">
                    <div class="col-2">
                        <h3><i class="fab fa-facebook-f"></i></h3>
                    </div>
                    <div class="col-2">
                        <h3><i class="fab fa-twitter"></i></h3>
                    </div>
                    <div class="col-2">
                        <h3><i class="fab fa-youtube"></i></h3>
                    </div>
                    <div class="col-2">
                        <h3><i class="fab fa-github"></i></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>{{ i18n "about-us" }}</h5>
                <ul class="list-unstyled text-small">
                    {{ range .Site.Menus.about }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>{{ i18n "support" }}</h5>
                <ul class="list-unstyled text-small">

                    <li><a class="text-muted" href="{{ .Site.Home.Permalink }}correlaid-x">CorrelAidX</a></li>
                    {{ range .Site.Menus.contribute }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                    <li><a class="text-muted" href="http://localhost/website-php/mailing-list">{{ i18n "mailing-list" }}</a></li>
                    <li><a class="text-muted" href="#">{{ i18n "donate" }}</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>{{ i18n "projects" }}</h5>
                <ul class="list-unstyled text-small">
                    {{ range .Site.Menus.projects }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                    <li><a class="text-muted" href="https://data4good.correlaid.org">Data4Good</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>Blog</h5>
                <ul class="list-unstyled text-small">
                    {{ range first 3 (where .Pages "Section" "blog").ByPublishDate.Reverse }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="row mt-5 d-md-none">
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><a href="https://facebook.com/WeAreCorrelAid"><i class="fab fa-facebook-f"></i></a></h3>
            </div>
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><a href="https://twitter.com/CorrelAid"><i class="fab fa-twitter"></i></a></h3>
            </div>
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><a href="https://www.youtube.com/channel/UC59n41SakYfllEU6tqg5yLA"><i class="fab fa-youtube"></i></a></h3>
            </div>
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><a href="https://github.com/correlaid"><i class="fab fa-github"></i></a></h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <p class="text-white small text-muted">Created by <i class="caveat">Jan Dix</i>.</p>
            </div>
        </div>
    </div>
</footer>