<!--
<div class="row mt-5 pt-5 ca-dark-blue justify-content-center">
    <div class="col-12">
        <a href="" class="ca-btn block">{{ i18n "donate"}}</a>
    </div>
</div>
-->

<div class="ca-original-gradient mt-5">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col-12 mb-3">
                <h4 class="text-white">{{ i18n "press" }}</h4>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 my-2">
                <a href="https://www.suedkurier.de/region/kreis-konstanz/konstanz/Konstanzer-Verein-Correlaid-will-mit-Daten-Gutes-bewirken;art372448,9373805" target="_blank"><img src="/images/newspapers/suedkurier.svg" class="newspaper-image"/></a>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 my-2">
                <a href="https://www.sueddeutsche.de/wirtschaft/correl-aid-in-daten-denken-1.3666425?reduced=true" target="_blank"><img src="/images/newspapers/sueddeutsche.svg" class="newspaper-image"/></a>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 my-2">
                <a href="https://global.handelsblatt.com/companies/when-big-altruism-meets-big-data-706196" target="_blank"><img src="/images/newspapers/handelsblatt.svg" class="newspaper-image"/></a>
            </div>
        </div>
    </div>
</div>

<!-- CORRELAID X NAV -->
<nav class="navbar navbar-expand-md navbar-dark ca-x-gradient d-none d-md-block" id="correlaid-x-navbar">
    <div class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto"></div>
        <div class="navbar-nav mr-auto">
            {{ range .Site.Menus.correlaidx }}
            <a class="nav-item nav-link active" href="{{ .URL | absLangURL }}">{{ .Title }}</a>
            {{ end }}
        </div>
    </div>
</nav>
<!-- /END CORRELAID X NAV -->



<footer class="ca-dark-blue text-white pt-3">

    <div class="container">

        <div class="row mt-2 mb-4">
            <div class="col-12 text-center">
                <p class="text-muted" style="font-size: 1rem;">
                    <i class="fas fa-2x fa-language"></i>
                    <br />
                    <a class="text-muted" href="#">{{ .Site.Language.LanguageName }}</a>
                    {{ range .Translations }}
                    <a class="text-muted" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-left">
                <h5>CorrelAid. ©2015-2018</h5>
                <ul class="list-unstyled text-small">
                    {{ range .Site.Menus.essentials }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                    <li><a href="#"
                           data-toggle="modal"
                           data-target="#contact-modal"
                           data-email="contact@correlaid.org"
                           data-to="Contact CorrelAid"
                           class="text-muted"
                    >
                        Kontakt
                    </a></li>
                </ul>
                <div class="row d-none d-md-flex">
                    <div class="col-2">
                        <h3><a href="https://facebook.com/WeAreCorrelAid" target="_blank"><i class="fab fa-facebook-f"></i></a></h3>
                    </div>
                    <div class="col-2">
                        <h3><a href="https://twitter.com/CorrelAid" target="_blank"><i class="fab fa-twitter"></i></a></h3>
                    </div>
                    <div class="col-2">
                        <h3><a href="https://www.youtube.com/channel/UC59n41SakYfllEU6tqg5yLA" target="_blank"><i class="fab fa-youtube"></i></a></h3>
                    </div>
                    <div class="col-2">
                        <h3><a href="https://github.com/correlaid" target="_blank"><i class="fab fa-github"></i></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>{{ i18n "about-us" }}</h5>
                <ul class="list-unstyled text-small">
                    {{ range .Site.Menus.about }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>{{ i18n "support" }}</h5>
                <ul class="list-unstyled text-small">
                    {{ range .Site.Menus.contribute }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                    <li><a class="text-muted" href="http://localhost/website-php/mailing-list">{{ i18n "mailing-list" }}</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>{{ i18n "projects" }}</h5>
                <ul class="list-unstyled text-small">
                    {{ range .Site.Menus.projects }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                    <li><a class="text-muted" href="https://data4good.correlaid.org">Data4Good</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>CorrelAidX</h5>
                <ul class="list-unstyled text-small">
                    {{ range .Site.Menus.correlaidx }}
                    <li><a class="text-muted" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="row mt-5 d-md-none">
            <div class="col-3 col-md-2 text-center text-md-left">
                <a href="https://facebook.com/WeAreCorrelAid"><h3><i class="fab fa-facebook-f"></i></h3></a>
            </div>
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><a href="https://twitter.com/CorrelAid"><i class="fab fa-twitter"></i></a></h3>
            </div>
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><a href="https://www.youtube.com/channel/UC59n41SakYfllEU6tqg5yLA"><i class="fab fa-youtube"></i></a></h3>
            </div>
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><a href="https://github.com/correlaid"><i class="fab fa-github"></i></a></h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <p class="text-white small text-muted">Created with <i class="fas fa-heart"></i> by <i class="caveat">Jan Dix</i>.</p>
            </div>
        </div>
    </div>
</footer>