<div class="row mt-5 pt-5 ca-dark-blue justify-content-center">
    <div class="col-12">
        <a href="" class="ca-btn block">{{ i18n "donate"}}</a>
    </div>
</div>
<footer class="py-5 ca-dark-blue text-white" style="padding-top: 5rem;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-left">
                <h5>CorrelAid. ©2015-2018</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="http://localhost/website-php/imprint">Impressum</a></li>
                    <li><a class="text-muted" href="http://localhost/website-php/imprint#privacy">Datenschutz</a></li>
                </ul>
                <div class="row d-none d-md-flex">
                    <div class="col-2">
                        <h3><i class="fab fa-facebook-f"></i></h3>
                    </div>
                    <div class="col-2">
                        <h3><i class="fab fa-twitter"></i></h3>
                    </div>
                    <div class="col-2">
                        <h3><i class="fab fa-youtube"></i></h3>
                    </div>
                    <div class="col-2">
                        <h3><i class="fab fa-github"></i></h3>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>Über uns</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="http://localhost/website-php/about">Über CorrelAid</a></li>
                    <li><a class="text-muted" href="http://localhost/website-php/people">Ansprechpartner</a></li>
                    <li><a class="text-muted" href="http://localhost/website-php/ethics">Ethikkodex</a></li>
                    <li><a class="text-muted" href="http://localhost/website-php/privacy">Datenschutz</a></li>
                    <li><a class="text-muted" href="http://localhost/website-php/contact">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>Beitragen</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="http://localhost/website-php/contribute">Wie kann ich beitragen?</a></li>
                    <li><a class="text-muted" href="http://localhost/website-php/correlaid-x">CorrelAidX</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>Projekte</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="http://localhost/website-php/services">Unsere Leistungen</a></li>
                    <li><a class="text-muted" href="http://localhost/website-php/references">Erfolgsgeschichten</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2 text-center text-md-left">
                <h5>Blog</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="http://localhost/website-php/services">Unsere Leistungen</a></li>
                    <li><a class="text-muted" href="http://localhost/website-php/references">Erfolgsgeschichten</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5 d-md-none">
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><i class="fab fa-facebook-f"></i></h3>
            </div>
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><i class="fab fa-twitter"></i></h3>
            </div>
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><i class="fab fa-youtube"></i></h3>
            </div>
            <div class="col-3 col-md-2 text-center text-md-left">
                <h3><i class="fab fa-github"></i></h3>
            </div>
        </div>
    </div>
</footer>