<nav class="navbar navbar-expand-md navbar-dark fixed-top ca-dark-blue">

    <a class="navbar-brand" href="{{ .Site.Home.URL }}">
        <img src="/images/correlaid/icon.png" height="30" alt="CorrelAid"/>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">

            <!-- ABOUT US -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="about-us-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ i18n "about-us" }}
                </a>
                <div class="dropdown-menu" aria-labelledby="about-us-dropdown">
                    {{ range .Site.Menus.about }}
                    <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    {{ end }}
                </div>
            </li>
            <!-- /END ABOUT US -->

            <!-- SUPPORT -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="support-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ i18n "support" }}
                </a>
                <div class="dropdown-menu" aria-labelledby="support-dropdown">
                    <a class="dropdown-item" href="{{ .Site.Home.Permalink }}correlaid-x">CorrelAidX</a>
                    {{ range .Site.Menus.contribute }}
                    <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    {{ end }}
                    <a class="dropdown-item" href="http://localhost/website-php/mailing-list">{{ i18n "mailing-list" }}</a>
                    <a class="dropdown-item" href="#">{{ i18n "donate" }}</a>
                </div>
            </li>
            <!-- /END SUPPORT -->

            <!-- PROJECTS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="projects-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ i18n "projects" }}
                </a>
                <div class="dropdown-menu" aria-labelledby="projects-dropdown">
                    {{ range .Site.Menus.projects }}
                    <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    {{ end }}
                    <a class="dropdown-item" href="https://data4good.correlaid.org">Data4Good</a>
                </div>
            </li>
            <!-- /END PROJECTS -->

            <!-- BLOG -->
            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.Home.Permalink }}blog">Blog</a>
            </li>
            <!-- /END BLOG -->

            <!-- LANGUAGE -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="languages-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-lg fa-language"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="languages-dropdown">
                    {{ range .Translations }}
                    <a class="dropdown-item" href="{{ .Permalink }}">{{ upper .Language }}</a>
                    {{ end}}
                </div>
            </li>
            <!-- /END LANGUAGE -->

            <!-- LANGUAGE
            {{ range .Translations }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .Permalink }}">{{ upper .Language }}</a>
            </li>
            {{ end}}
            <!-- /END LANGUAGE -->



        </ul>


    </div>
</nav>