<!-- MAIN NAV -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top ca-dark-blue">

    <a class="navbar-brand" href="{{ .Site.Home.URL }}">
        <img src="/images/correlaid/correlaid-icon.svg" height="30" alt="CorrelAid"/>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">

            <!-- ABOUT US -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="about-us-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ i18n "about-us" }}
                </a>
                <div class="dropdown-menu" aria-labelledby="about-us-dropdown">
                    {{ range .Site.Menus.about }}
                    <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    {{ end }}
                </div>
            </li>
            <!-- /END ABOUT US -->

            <!-- SUPPORT -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="support-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ i18n "support" }}
                </a>
                <div class="dropdown-menu" aria-labelledby="support-dropdown">
                    {{ range .Site.Menus.contribute }}
                    <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    {{ end }}
                    <a class="dropdown-item" href="https://correlaid.us12.list-manage.com/subscribe?u=b294bf2834adf5d89bdd2dd5a&id=915f3f3eff">{{ i18n "mailing-list" }}</a>
                </div>
            </li>
            <!-- /END SUPPORT -->

            <!-- PROJECTS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="projects-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ i18n "projects" }}
                </a>
                <div class="dropdown-menu" aria-labeledby="projects-dropdown">
                    {{ range .Site.Menus.projects }}
                    <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    {{ end }}
                    <!--
                    <a class="dropdown-item" href="https://data4good.correlaid.org">Data4Good</a>
                    -->
                </div>
            </li>
            <!-- /END PROJECTS -->

            <!-- BLOG -->
            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.Home.Permalink }}blog">Blog</a>
            </li>
            <!-- /END BLOG -->

            <!-- LANGUAGE -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="languages-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-lg fa-language"></i>
                </a>
                <div class="dropdown-menu lang" aria-labelledby="languages-dropdown">
                    {{ range .Translations }}
                    <a class="dropdown-item" href="{{ .Permalink }}">{{ upper .Language }}</a>
                    {{ end}}
                </div>
            </li>
            <!-- /END LANGUAGE -->

        </ul>


    </div>
</nav>
<!-- /END MAIN NAV -->

<!-- CORRELAID X NAV -->
<nav class="navbar navbar-expand-md fixed-top second navbar-dark ca-x-gradient d-none d-md-block" id="correlaid-x-navbar">
    <div class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto">
            {{ range .Site.Menus.correlaidx }}
            <a class="nav-item nav-link active" href="{{ .URL | absLangURL }}">{{ .Title }}</a>
            {{ end }}
        </div>
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active" id="close-correlaid-x-navbar"><i class="fas fa-chevron-circle-up"></i></a>
        </div>
    </div>
</nav>
<!-- /END CORRELAID X NAV -->

<!-- COOKIE DISCLAIMER -->
<nav class="navbar navbar-expand-md fixed-bottom navbar-dark ca-dark-blue" id="correlaid-cookie-bar">
    <div class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto">
            {{ i18n "cookies"}} <a href="{{ .Site.Home.Permalink }}cookies" class="text-white">{{ i18n "cookies-more" }}</a>
        </div>
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active" id="close-correlaid-cookie-bar"><i class="far fa-times-circle"></i></a>
        </div>
    </div>
</nav>
<!-- /END COOKIE DISCLAIMER -->
