<!-- MAIN NAV -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top ca-dark-blue">
  <a class="navbar-brand" href="{{ .Site.Home.URL }}">
    <img
      src="/images/correlaid/correlaid-icon.svg"
      height="30"
      alt="CorrelAid"
    />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      <!-- ABOUT US -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="about-us-dropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ i18n "about-us" }}
        </a>
        <div class="dropdown-menu" aria-labelledby="about-us-dropdown">
          {{ range .Site.Menus.about }}
          <a class="dropdown-item" href="{{ .URL | absLangURL }}"
            >{{ .Name }}</a
          >
          {{ end }}
        </div>
      </li>
      <!-- /END ABOUT US -->

      <!-- FOR NONPROFITS -->
      <li class="nav-item">
        <div class="btn-group">
          <a
            class="nav-link"
            href="{{ .Site.Home.Permalink }}nonprofits"
          >
            {{ i18n "for-nonprofits" }}
          </a>
          <button
            type="button"
            class="btn dropdown-toggle dropdown-toggle-split d-none d-lg-block"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          ></button>
          <div class="dropdown-menu">
            {{ range .Site.Menus.nonprofits }}
            <a class="dropdown-item" href="{{ .URL | absLangURL }}"
              >{{ .Name }}</a
            >
            {{ end }}
          </div>
        </div>
      </li>

      <li class="nav-item">

        <!-- FOR VOLUNTEERS -->
        <div class="btn-group">
          <a
            class="nav-link"
            href="{{ .Site.Home.Permalink }}volunteer"
          >
            {{ i18n "for-volunteers" }}
          </a>
          <button
            type="button"
            class="btn dropdown-toggle dropdown-toggle-split d-none d-lg-block"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          ></button>
          <div class="dropdown-menu">
            {{ range .Site.Menus.volunteer }}
            <a class="dropdown-item" href="{{ .URL | absLangURL }}"
              >{{ .Name }}</a
            >
            {{ end }}
          </div>
        </div>
  
        <!-- /END FOR VOLUNTEERS -->
      </li>

      {{ $currentPage := . }} {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}"
          >{{ .Name }}</a
        >
      </li>
      {{ end }}

      <!-- BLOGS AND PODCASTS -->
      <li class="nav-item">
        <a class="nav-link" href="{{ .Site.Home.Permalink }}blog">
          Blog
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://soundcloud.com/correlaid_podcast"
          >Podcast</a
        >
      </li>
      <!-- /END BLOGS AND PODCASTS-->
      <!-- LANGUAGE -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="languages-dropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ upper .Language }}
        </a>
        <div class="dropdown-menu lang" aria-labelledby="languages-dropdown">
          {{ range .Translations }}
          <a class="dropdown-item" href="{{ .Permalink }}"
            >{{ upper .Language }}</a
          >
          {{ end}}
        </div>
      </li>
      <!-- /END LANGUAGE -->
    </ul>
    <form class="form-inline">
      <a
        class="btn btn-donate my-2 my-sm-0"
        href="https://www.betterplace.org/de/projects/58963-correlaid-e-v-data-for-good"
        target="_blank"
      >
        {{ i18n "donate" }}
      </a>
    </form>
  </div>
</nav>
<!-- /END MAIN NAV -->

<!-- CORRELAID X NAV -->
<nav
  class="
    navbar navbar-expand-md
    fixed-top
    second
    navbar-dark
    ca-x-gradient
    d-none d-md-block
  "
  id="correlaid-x-navbar"
>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mr-auto">
      {{ range .Site.Menus.correlaidx.ByName }}
      <a class="nav-item nav-link active" href="{{ .URL | absLangURL }}"
        >{{ .Title }}</a
      >
      {{ end }}
    </div>
    <div class="navbar-nav"></div>
  </div>
</nav>
<!-- /END CORRELAID X NAV -->
