<div class="row py-5" id="correlaid-team">

    <div class="col-12 px-0">
        <div class="col-md-10 my-3 pb-4 pr-5 ca-gradient-container">
            
            <h2 class="ca-blue-text">CorrelAid Team</h2>
            {{ range .team }}
            <div class="row justify-content-start">
                <div class="col pr-0 mr-0">
                    <p>{{ .first_name }} {{ .last_name }}

                        {{ if isset . "linkedin" }}
                            {{ if gt (len .linkedin ) 0 }}
                            <a class="team-member-links" href="{{ .linkedin}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            {{ end }}
                        {{ end }}
                        {{ if and (isset . "xing" )}}
                            {{ if gt (len .xing ) 0 }}
                            <a class="team-member-links" href="{{ .xing}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-xing"></i></a>
                            {{ end }}
                        {{ end }}
                        {{ if isset . "github" }}
                            {{ if gt (len .github ) 0 }}
                            <a class="team-member-links" href="https://github.com/{{ .github}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                            {{ end }} 
                        {{ end }}
                        {{ if isset . "website" }}
                            {{ if gt (len .website ) 0 }}
                            <a class="team-member-links" href="{{ .website}}" target="_blank" rel="noopener noreferrer"><i class="fas fa-globe"></i></a>
                            {{ end }}
                        {{ end }}
                        {{ if isset . "twitter" }}
                            {{ if gt (len .twitter ) 0 }}
                            <a class="team-member-links" href="https://twitter.com/{{ .twitter}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                            {{ end }}
                        {{ end }}
                    </p>
                </div>
            </div>
            
            {{ end }}  
        <div class="ca-gradient-border"></div>
    </div>      
    
</div>