{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-2">
      {{ .Content }}
      <h1>{{ i18n "events-upcoming" }}</h1>
      {{ range sort .Pages ".Params.start"}}
      {{ if (time .Params.start).After now }} 
      {{ partial "event-summary.html" . }} {{ end }} {{ end }}
      <h1>{{ i18n "events-past" }}</h1>
      <details>
        {{ range sort .Pages ".Params.start" "desc"}}
        {{ if (time .Params.start).Before now }} 
        {{ partial "event-summary.html" . }} {{ end }} {{ end }}

      </details>
    </div>
  </div>
</div>
{{ end }}
