{{ define "main" }}
{{ $lang := .Site.Language.Lang }}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {{ range .Pages.ByWeight }}
                <div class="col-12 col-md-4">
                    
                    {{ partial "feature-volunteer.html" . }}

                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}