<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
    {{ .Inner }}
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-show="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- PURPOSE ID: 0 -->
                <section id="0" class="donation-section">
                    <div class="row">
                        <div class="col-12">
                            <h3>Für was möchtest du spenden?</h3>
                        </div>
                        <div class="col-12">
                            <div class="donate-box-outer py-2">
                                <a class="donate-box-inner purpose" data-purpose="1">
                                    <h3>Projekte</h3>
                                    <p>In unseren Projekten bringen wir motivierte, ehrenamtliche Datenanalystinnen und -analysten aus unserem Netzwerk mit sozialen Organisationen zusammen, um deren Arbeit durch datengetriebene Ansätze zu verbessern.</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="donate-box-outer py-2">
                                <a class="donate-box-inner purpose" data-purpose="2">
                                    <h3>Community</h3>
                                    <p>Eines der drei Standbeine von CorrelAid ist der Wissenaustausch und die Vernetzung innerhalb unserer Community. Hier kannst Du uns bei der Veranstaltung von Meetups und Workshops unterstützen.</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="donate-box-outer py-2">
                                <a class="donate-box-inner purpose" data-purpose="3">
                                    <h3>Infrastruktur</h3>
                                    <p>Unsere Projektarbeit und die Vernetzung unserer Community basiert auf einer umfangreichen technischen Infrastruktur (Homepage, Server, Software). Unterstütze uns bei den laufenden Kosten und dem Einsatz von state-of-the-art Data Science-Technologien!</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /END PURPOSE ID: 0 -->

                <!-- TYPE ID: 1 -->
                <section id="1" class="donation-section hidden">
                    <div class="row">
                        <div class="col-12">
                            <h3>Wer bist du?</h3>
                        </div>
                    </div>
                </section>
                <!-- /END TYPE ID: 1 -->




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary disabled">Zurück</button>
                <button type="button" class="btn btn-primary disabled">Weiter</button>
            </div>
        </div>
    </div>
</div>