<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
    {{ .Inner }}
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-show="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

        <!-- PURPOSE ID: 0 -->
        <div class="modal-content donation-section" id="donate-0">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">Für was möchtest du spenden?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="donate-box-outer py-2">
                            <a class="donate-box-inner purpose projects" data-purpose="1">
                                <h3>Projekte</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="donate-box-outer py-2">
                            <a class="donate-box-inner purpose community" data-purpose="2">
                                <h3>Community</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="donate-box-outer py-2">
                            <a class="donate-box-inner purpose infrastructure" data-purpose="3">
                                <h3>Infrastruktur</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-ca-green" id="back">Zurück</button>
                <button type="button" class="btn btn-ca-green" id="next">Weiter</button>
            </div>
        </div>
        <!-- /END PURPOSE ID: 0 -->






        <!-- TYPE ID: 1 -->
        <section id="donate-1" class="donation-section hidden">
            <div class="row">
                <div class="col-12">
                    <h3>Wer bist du?</h3>
                </div>
            </div>
        </section>
        <!-- /END TYPE ID: 1 -->

    </div>
</div>