<div class="row my-5">
    <div class="col-12">
        <h1>{{ .Inner }}</h1>
    </div>
    <div class="col-12 col-sm-10 col-md-8">
        <form>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="inputState">Subject</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>Allgemeine Frage</option>
                    <option>Projekt</option>
                    <option>Zusammenarbeit</option>
                    <option>Mitwirken</option>
                    <option>Sonstiges</option>
                </select>
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea class="form-control" id="body" rows="3"></textarea>
            </div>
        </form>
    </div>
</div>