<div class="container">
    <div class="row my-5">        
        <div class="col-md-3 align-self-center">
            <div class="ca-img-container">
                <img class="img-fluid dark" src="{{ .Get `img` }}" alt="{{ .Get `name` }}" />
                <div class="ca-img-border"></div>
            </div>
        </div>
        <div class="col-md-9 align-self-center">
            <h1 class="{{ .Get `link-color` }} mb-0 mt-0">
                <a href="#"
                   data-toggle="modal"
                   data-target="#contact-modal"
                   data-email="{{ .Get `data-email`}}"
                   data-to="{{ .Get `data-to`}}"
                   data-correlaidx="{{ .Get `x` }}"
                >
                {{ .Get `name` }}
                </a>
            </h1>
            <h3 class="mb-3">{{ .Get `subline` }}</h3>
            <p class="lead">{{ .Inner }}</p>
            <p class="lead">
                [<a href="mailto:{{ .Get `data-email` }}">
                    {{ .Get `data-email` }}
                </a>]
            </p>
        </div>
    </div>
</div>
