<div class="container">
    <div class="row my-5">
        <div class="col-md-3 align-self-center">
            <div class="ca-img-container">
                <img class="img-fluid dark" src="{{ .Get `img` }}" alt="{{ .Get `name` }}" />
                <div class="ca-img-border"></div>
            </div>
        </div>
        <div class="col-md-9 align-self-center">
            <h1 class="ca-green-text mb-0">{{ .Get `name` }}</h1>
            <h3 class="mb-3">{{ .Get `subline` }}</h3>
            <p class="lead">{{ .Inner }}</p>
        </div>
    </div>
</div>