<div class="container" id="data-science">
    <div class="row my-1">
        <div class="col-12 col-md-6 col-lg-7 align-self-center {{.Get `order`}}">
            <h3>{{.Get "year"}}</h3>
            <h1 class="ca-green-text my-0">
                {{ .Inner }}
            </h1>
        </div>
        <div class="col-12 col-md-6 col-lg-5 align-self-center">
            <div class="ca-img-container">
                <img class="img-fluid dark" src="{{.Get `img`}}" alt="{{ .Inner }}" />
                <div class="ca-img-border"></div>
            </div>
        </div>
    </div>
</div>