<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ range $.Site.Data.en.project_process }} 
      {{ $iconClass := .icon | printf "fas fa-2x %s" }}
      <i class="{{ $iconClass }}"></i>
      <h2 class="ca-green-text mb-0 mt-0">
        {{ .title }}
      </h2>

      <i class="fas fa-s fa-clock"></i>
      {{ .duration }}

      <p class="lead">{{ .content | markdownify }}</p>
      <p>
        {{ .work | markdownify}}
      </p>
      {{ end }}
    </div>
  </div>
</div>
