<div class="row">
    <div class="col-12 col-lg-6 py-3 px-3">
        <div class="testimonial ca-original-gradient py-3 px-4">
            <img class="img-fluid rounded-circle" src="/images/testimonials/3.jpg" />
            <p class="text-white text-center">Hallo, <i>Teilnehmer</i></p>
            <blockquote><i class="fas fa-quote-left fa-2x fa-pull-left"></i>{{ .Inner }}</blockquote>
        </div>
    </div>
    <div class="col-12 col-lg-6 py-3 px-3">
        <div class="testimonial ca-original-gradient py-3 px-4">
            <img class="img-fluid rounded-circle" src="/images/testimonials/3.jpg" />
            <p class="text-white text-center">Hallo, <i>Teilnehmer</i></p>
            <blockquote><i class="fas fa-quote-left fa-2x fa-pull-left"></i>{{ .Inner }}</blockquote>
        </div>
    </div>
</div>